 /*--------global------- */



.header{
	background-color: black;
}

.main{
    width: 1920px;
    height: 10px;
    position: fixed;
    background: #fff;
    z-index: 1000;
}
.assortiment{
position: absolute;
width: 1920px;
height: 73px;
left: -1px;
top: 111px;

background: #02A4FF;
mix-blend-mode: normal;
}

.logo{

width: 92px;
height: 111px;
left: 25px;
top: 6px;
}





.glavnaya{
position: absolute;
width: 137px;
height: 43px;
left: 417px;
top: 40px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;


}
.oplata{
position: absolute;
width: 251px;
height: 44px;
left: 618px;
top: 40px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;

}

.contacts{
position: absolute;
width: 265px;
height: 51px;
left: 909px;
top: 40px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;

}


.onas{
position: absolute;
width: 179px;
height: 59px;
left: 1246px;
top: 40px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}

.search{


position: absolute;
width: 137px;
height: 52px;
left: 1561px;
top: 41px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;

}

.basket{
position: absolute;
width: 76px;
height: 76px;
left: 1718px;
top: 17px;





}


.name{
	position: absolute;
width: 164px;
height: 70px;
left: 117px;
top: 33px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 27px;
text-align: center;

color: white;

}

.sum{
position: absolute;
width: 69px;
height: 55px;
left: 1803px;
top: 44px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #FFFFFF;
}

.serf{
    position: absolute;
width: 164px;
height: 35px;
left: 182px;
top: 20px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}
.gidro{
    position: absolute;
width: 237px;
height: 43px;
left: 369px;
top: 20px;

font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}

.longbord{
position: absolute;
width: 282px;
height: 58px;
left: 845px;
top: 20px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}

.odejda{
position: absolute;
width: 179px;
height: 59px;
left: 1089px;
top: 20px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}


.akses{
position: absolute;
width: 243px;
height: 52px;
left: 1248px;
top: 20px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}
.brand{

position: absolute;
width: 168px;
height: 36px;
left: 1514px;
top: 20px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.serfskate{
position: absolute;
width: 177px;
height: 36px;
left: 648px;
top: 20px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;


text-align: center;

color: #FFFFFF;
}
.equp{
    position: absolute;
width: 367px;
height: 90px;
left: 780px;
top: 301px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}
.equp1{
    position: absolute;
width: 645px;
height: 378px;
left: 1px;
top: 374px;

}
.equp2{
position: absolute;
width: 657px;
height: 378px;
left: 646px;
top: 374px;

}
.equp3{
position: absolute;
width: 618px;
height: 378px;
left: 1302px;
top: 374px;

}

.vibor{
    position: absolute;
width: 333px;
height: 27px;
left: 110px;
top: 777px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #000000;
}

.vibor_podrob{
    position: absolute;
width: 333px;
height: 27px;
left: 83px;
top: 811px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #000000;
}

.for_man{
    position: absolute;
width: 333px;
height: 27px;
left: 782px;
top: 770px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #000000;

}

.vibor_man{
    position: absolute;
width: 333px;
height: 27px;
left: 780px;
top: 804px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #000000;
}

.for_child{
    position: absolute;
width: 333px;
height: 27px;
left: 1434px;
top: 770px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #000000;
}

.vibor_child{
    position: absolute;
width: 333px;
height: 27px;
left: 1441px;
top: 804px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #000000;
}

.team{
    position: absolute;
width: 398px;
height: 72px;
left: 761px;
top:70px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 72px;
/* identical to box height */

text-align: center;

color: black;


}
.team_logo{
  position: relative; 
width: 1920px;
height: 799px;
left: 0px;
top: 1164px;
}

.our_team{
    position: relative;
width: 1920px;
height: 799px;
left: 0px;
top: 1164px;
}
.last_news{
    position: absolute;
width: 378px;
height: 58px;
left: -35px;
top: 2222px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;
}

.news1{
    position: absolute;
width: 180px;
height: 127px;
left: 139px;
top: 2300px;


}

.news2{
    position: absolute;
width: 186px;
height: 127px;
left: 487px;
top: 2300px;
}

.news3{
    position: absolute;
width: 184px;
height: 127px;
left: 839px;
top: 2300px;
}

.news4{
    position: absolute;
width: 207px;
height: 126px;
left: 1186px;
top: 2300px;
}

.news5{
    position: absolute;
width: 215px;
height: 125px;
left: 1556px;
top: 2300px;
}

.news1_podrobnee{
position: absolute;
width: 378px;
height: 58px;
left: 33px;
top: 2444px;


font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
text-align: center;

color: #000000;

}
.news2_podrobnee{
    position: absolute;
width: 378px;
height: 58px;
left: 389px;
top: 2444px;


font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
text-align: center;

color: #000000;
}
.news3_podrobnee{
    position: absolute;
width: 378px;
height: 58px;
left: 739px;
top: 2444px;


font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
text-align: center;

color: #000000;
}
.news4_podrobnee{
    position: absolute;
width: 378px;
height: 58px;
left: 1123px;
top: 2444px;


font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
text-align: center;

color: #000000;
}
.news5_podrobnee{
    position: absolute;
width: 378px;
height: 58px;
left: 1467px;
top: 2444px;


font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
text-align: center;

color: #000000;
}


.spec_pred_title{
    position: absolute;
width: 587px;
height: 58px;
left: 698px;
top: 2500px;


font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 54px;
text-align: center;

color: #000000;
}



.spec1{
    position: absolute;
width: 448px;
height: 328px;

height: 328px;
width: 448px;
left: 363px;
top: 2600px;
border-radius: 0px;

}
.spec2{
    position: absolute;
width: 163px;
height: 362px;
left: 934px;
top: 2600px;
}
.spec3{
    position: absolute;
width: 125px;
height: 371px;
top: 2600px;
left: 1200px;
}

.spec1_title{
    position: absolute;
width: 378px;
height: 43px;
left: 396px;
top: 2970px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}
.spec2_title{
    position: absolute;
width: 378px;
height: 43px;
left: 786px;
top: 2970px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}

.spec3_title{
    position: absolute;
width: 378px;
height: 43px;
left: 1118px;
top: 2970px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}

.skidka{
    background-color: rgba(255, 214, 0, 0.69);
    position: absolute;
width: 1920px;
height: 123px;
left: 0px;
top: 3110px;
}
.skidka_title{
    position: absolute;
width: 276px;
height: 36px;
left: 822px;
top:20px;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #000000;
}
.skidka_mile{
    position: absolute;
width: 631px;
height: 70px;
left: 644px;
top: 57px;



font-size: 23px;
line-height: 36px;
text-align: center;
}
.sumbit_mail{
        position: absolute;
width: 631px;
height: 70px;
left: 1100px;
top: 62px;
}

.skidka_logo{
    position: absolute;
width: 29px;
height: 21px;
left: 776px;
top: 66px;
}
.copyright_text{
    position: absolute;
width: 332px;
height: 70px;
left: -50px;
top: 370px;



font-size: 14px;
line-height: 21px;
text-align: center;




color: #000000;
}


.copyright{

position: absolute;
width: 200px;
height: 20px;
left: 850px;
top: 2897px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;


color: #000000
}